html, body, div{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    flex-grow: 1;
    width: 100vw;
    height: 33.33333vh;
}
#s1{
    background-color: red;
}
#s2{
    background-color: blue;
}
#s3{
    background-color: orange;
}
#s4{
    background-color: yellow;
}
#s5{
    background-color: blueviolet;
}