p::first-line {
    color: #ff0000;
    font-variant: small-caps;
}
p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}
div p {
    background-color: yellow;
}
div > p {
    color: red;
}